<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container-fluid">
    <!-- App-Switcher und App-Titel links -->
    <div class="d-flex align-items-center">
      <app-switcher></app-switcher>
      <a class="navbar-brand d-flex align-items-center ms-2" href="https://github.com/Ro-C-Me/gantticus#readme" target="_blank" rel="noopener">
        <img src="assets/gantticus-logo.svg" alt="Gantticus" width="24" height="24" class="me-2">
        {{ title }}
      </a>
    </div>
    
    <!-- Platzhalter für Feature-spezifische Actions (wird über ng-content eingefügt) -->
    <div class="ms-auto" *ngIf="showActions">
      <ng-content select="[navbar-actions]"></ng-content>
    </div>
  </div>
</nav>
