<div class="app-container d-flex flex-column vh-100">
  <!-- Toast Container -->
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1200;">
    <ngb-toast
      *ngFor="let toast of toasts"
      [class]="toast.classname"
      [autohide]="true"
      [delay]="5000"
      (hidden)="removeToast(toast)"
    >
      <ng-template ngbToastHeader>
        <i class="bi me-2" [class]="toast.icon"></i>
        <strong class="me-auto">{{ toast.header }}</strong>
      </ng-template>
      {{ toast.body }}
    </ngb-toast>
  </div>

  <!-- Navbar mit App-Switcher -->
  <app-navbar [title]="title">
    <!-- Feature-spezifische Navbar-Actions werden vom Feature selbst gefüllt -->
  </app-navbar>

  <!-- Router Outlet für Feature-Komponenten -->
  <div class="feature-container flex-grow-1 d-flex flex-column">
    <router-outlet></router-outlet>
  </div>
</div>