<div class="app-container d-flex flex-column vh-100">
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3" style="border-bottom: 1px solid #dee2e6;">
  <div class="container-fluid">
    <button class="btn btn-primary" (click)="onAddTask()">
      <i class="bi bi-plus-lg"></i> Neuer Task
    </button>

    <div class="ms-auto">
      <select class="form-select w-auto" [(ngModel)]="viewType" name="viewType">
        <option *ngFor="let option of viewTypeOptions" [ngValue]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>
</nav>

<ngx-gantt #gantt [items]="items" [viewType]="viewType">
  <ngx-gantt-table >
    <ngx-gantt-column name="ID" width="100px">
      <ng-template #cell let-item="item"> {{ item.id }} </ng-template>
    </ngx-gantt-column>
    <ngx-gantt-column name="Title" width="200px">
      <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
    </ngx-gantt-column>
  </ngx-gantt-table>
</ngx-gantt>
</div>