<span (mouseenter)="showIcons = true" (mouseleave)="showIcons = false" class="group-title-container">
    <span (click)="onTitleClick($event)">{{ item.title }}</span>
    <i *ngIf="showIcons && hasUrl()" class="bi bi-link-45deg text-secondary" style="margin-left: 0.5rem;" (click)="onLinkClick($event)" [title]="getUrl()"></i>
    <i *ngIf="showIcons" class="bi bi-trash text-danger" style="margin-left: 0.5rem;" (click)="onDeleteClick($event)"></i>
    <i *ngIf="showIcons" class="bi bi-plus text-primary" style="margin-left: 0.5rem;" (click)="onAddClick($event)"></i>
  </span>